<div id="footer-block">
    <div class="col-sm-12">

        <a href="@Url.Action("Tableau", "Accueil")">
            <div class="col-sm-2 col-sm-offset-2">
                <img src="~/Content/img/tableau.svg" class="footer-space-icon center-block" height="45px"><p class="h2 text-center">Tableau de bord</p>
            </div>
        </a>
        <a href="@Url.Action("Produits", "Accueil")">
            <div class="col-sm-2">
                <img src="~/Content/img/price-tag.svg" class="footer-space-icon center-block" height="45px"><p class="h2 text-center">Produits</p>
            </div>
        </a>
        <a href="@Url.Action("Commandes", "Accueil")">
            <div class="col-sm-2">
                <img src="~/Content/img/sign.svg" class="footer-space-icon center-block" height="45px"><p class="h3 text-center">Effectuer une commande</p>
            </div>
        </a>
        <a href="@Url.Action("Support", "Accueil")">
            <div class="col-sm-2">
                <img src="~/Content/img/mechanic-tools-active.svg" class="footer-space-icon icon-active center-block" height="45px"><p class="h3 icon-active text-center">Support</p>
            </div>
        </a>
    </div>
</div>
