

<!DOCTYPE html>
<html>
@Html.Partial("../Shared/head")
</head>
<body>
   @Html.Partial("../Shared/menu")
    <div class="container-fluid">
        <div class="col-lg-9 hidden-md hidden-sm hidden-xs">
            <div class="col-lg-12 space-empty"></div>
            <div class="col-lg-11 col-lg-offset-1"><h1 class="fw6">Visite de magasin</h1></div>
            <div class="col-lg-11 col-lg-offset-1"><p>Remplissez les champs ci-dessous pour générer un rapport de votre visite de magasin</p></div>

            <!-- Timeline -->

            <div class="col-lg-11 col-lg-offset-1">
                <ul class="timeline" id="timeline">
                    <li class="li complete col-lg-2">

                        <div class="status">

                        </div>
                    </li>
                    <li class="li complete">

                        <div class="status col-lg-2">

                        </div>
                    </li>
                    <li class="li">

                        <div class="status col-lg-2">

                        </div>
                    </li>
                    <li class="li">

                        <div class="status col-lg-2">

                        </div>
                    </li>
                    <li class="li">

                        <div class="status col-lg-2">

                        </div>
                    </li>
                </ul>
            </div>
            <!-- End Timeline -->

            <div class="col-lg-11 col-lg-offset-1"><h1>Étape 2 - Photos</h1></div>
            <div class="col-lg-11 col-lg-offset-1"><p>Prenez 5 photos à l’aide de votre appareil dans les endroits mentionnés</p></div>


            <div class="col-lg-12 space-empty"></div>


            <div class="col-lg-11 col-lg-offset-1">

                <div class="col-lg-2 dashboardIconContainer">
                    <input type="file" style="display:none;" name="file" id="file" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-lg-12 space-empty-small"></div><div class="col-lg-2 mt2 icons"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-lg-12 space-empty-small"></div><p class="col-lg-12 text-center dashboardTitleTextCards fw4">Stationnement</p></label>
                </div>

                <div class="col-lg-2 dashboardIconContainer dashboardIconSpaceContainer">
                    <input type="file" style="display:none;" name="file" id="file2" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-lg-12 space-empty-small"></div><div class="col-lg-2 mt2 icons"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-lg-12 space-empty-small"></div><p class="col-lg-12 text-center dashboardTitleTextCards fw4">Entrepôt</p></label>
                </div>

                <div class="col-lg-2 dashboardIconContainer dashboardIconSpaceContainer">
                    <input type="file" style="display:none;" name="file" id="file3" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-lg-12 space-empty-small"></div><div class="col-lg-2 mt2 icons"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-lg-12 space-empty-small"></div><p class="col-lg-12 text-center dashboardTitleTextCards fw4">Caisses</p></label>
                </div>

                <div class="col-lg-2 dashboardIconContainer dashboardIconSpaceContainer">
                    <input type="file" style="display:none;" name="file" id="file4" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-lg-12 space-empty-small"></div><div class="col-lg-2 mt2 icons"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-lg-12 space-empty-small"></div><p class="col-lg-12 text-center dashboardTitleTextCards fw4">Étagères</p></label>
                </div>

                <div class="col-lg-12 space-empty"></div>

                <div class="col-lg-2 dashboardIconContainer">
                    <input type="file" style="display:none;" name="file" id="file5" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-lg-12 space-empty-small"></div><div class="col-lg-2 mt2 icons"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-lg-12 space-empty-small"></div><p class="col-lg-12 text-center dashboardTitleTextCards fw4">Salle de bain</p></label>
                </div>


            </div>

            <div class="col-lg-12 space-empty"></div>
            <div class="col-lg-11 col-sm-offset-1">
                <div class="col-lg-9">
                    <br>
                    <a href="visite3.html"><button class="btn btnBottom btn-lg btnRouge btn-responsive" type="submit" name="btn-login">Prochaine étape</button></a><br>
                </div> <!-- End col-md-12 bouton-->
            </div>



        </div>

        <!-- responsive md -->

        <div class="col-md-12 visible-md hidden-lg hidden-xl hidden-sm hidden-xs">
            <div class="col-md-12 space-empty"></div>
            <div class="col-md-11 col-md-offset-1"><h1 class="fw6">Visite de magasin</h1></div>
            <div class="col-md-11 col-md-offset-1"><p>Remplissez les champs ci-dessous pour générer un rapport de votre visite de magasin</p></div>

            <!-- Timeline -->

            <div class="col-md-11 col-md-offset-1">
                <ul class="timeline">
                    <li class="li complete col-md-2">

                        <div class="status">

                        </div>
                    </li>
                    <li class="li complete">

                        <div class="status col-md-2">

                        </div>
                    </li>
                    <li class="li">

                        <div class="status col-md-2">

                        </div>
                    </li>
                    <li class="li">

                        <div class="status col-md-2">

                        </div>
                    </li>
                    <li class="li">

                        <div class="status col-md-2">

                        </div>
                    </li>
                </ul>
            </div>
            <!-- End Timeline -->

            <div class="col-md-11 col-md-offset-1"><h1>Étape 2 - Photos</h1></div>
            <div class="col-md-11 col-md-offset-1"><p>Prenez 5 photos à l’aide de votre appareil dans les endroits mentionnés</p></div>


            <div class="col-md-12 space-empty"></div>


            <div class="col-md-12 text-center">

                <div class="col-md-3 col-md-offset-1 dashboardIconContainerSM">
                    <input type="file" style="display:none;" name="file" id="file" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-md-12 space-empty-small"></div><div class="col-md-12 mt2 valign"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-md-12 space-empty-small"></div><p class="col-md-12 text-center dashboardTitleTextCards pb2 fw4">Stationnement</p></label>
                </div>

                <div class="col-md-3 dashboardIconContainerSM dashboardIconSpaceContainer">
                    <input type="file" style="display:none;" name="file" id="file" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-md-12 space-empty-small"></div><div class="col-md-12 mt2 valign"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-md-12 space-empty-small"></div><p class="col-md-12 text-center dashboardTitleTextCards pb2 fw4">Entrepôt</p></label>
                </div>

                <div class="col-md-3 dashboardIconContainerSM dashboardIconSpaceContainer">
                    <input type="file" style="display:none;" name="file" id="file" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-md-12 space-empty-small"></div><div class="col-md-12 mt2 valign"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-md-12 space-empty-small"></div><p class="col-md-12 text-center dashboardTitleTextCards pb2 fw4">Caisses</p></label>
                </div>

            </div>


            <div class="col-md-12 space-empty"></div>

            <div class="col-md-12 text-center">

                <div class="col-md-3 col-md-offset-1 dashboardIconContainerSM">
                    <input type="file" style="display:none;" name="file" id="file" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-md-12 space-empty-small"></div><div class="col-md-12 mt2 valign"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-md-12 space-empty-small"></div><p class="col-md-12 text-center dashboardTitleTextCards pb2 fw4">Étagères</p></label>
                </div>



                <div class="col-md-3 dashboardIconContainerSM dashboardIconSpaceContainer">
                    <input type="file" style="display:none;" name="file" id="file" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-md-12 space-empty-small"></div><div class="col-md-12 mt2 valign"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-md-12 space-empty-small"></div><p class="col-md-12 text-center dashboardTitleTextCards pb2 fw4">Salle de bain</p></label>
                </div>


            </div>

            <div class="col-md-12 space-empty"></div>
            <div class="col-md-11 col-md-offset-1">

                <a href="visite3.html"><button class="btn btnBottom btn-lg btnRouge btn-responsive" type="submit" name="btn-login">Prochaine étape</button></a>

            </div>
            <div class="col-md-12 space-empty"></div>




        </div>

        <!-- End responsive md -->
        <!-- responsive sm -->

        <div class="col-sm-12 text-center visible-sm visible-xs hidden-md hidden-lg hidden-xl">
            <div class="col-sm-12 space-empty"></div>
            <div class="col-sm-12"><h1 class="fw6">Visite de magasin</h1></div>
            <div class="col-sm-12"><p>Remplissez les champs ci-dessous pour générer un rapport de votre visite de magasin</p></div>

            <div class="col-sm-12 space-empty"></div>

            <div class="col-sm-12"><h1>Étape 2 - Photos</h1></div>
            <div class="col-sm-12"><p>Prenez 5 photos à l’aide de votre appareil dans les endroits mentionnés</p></div>


            <div class="col-sm-12 space-empty"></div>


            <div class="col-sm-12">

                <div class="col-sm-12 dashboardIconContainerSM">
                    <input type="file" style="display:none;" name="file" id="file" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-sm-12 space-empty-small"></div><div class="col-sm-12 valign"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-sm-12 space-empty-small"></div><p class="col-sm-12 text-center dashboardTitleTextCards pb3 fw4">Stationnement</p></label>
                </div>

                <div class="col-sm-12 space-empty"></div>

                <div class="col-sm-12 dashboardIconContainerSM">
                    <input type="file" style="display:none;" name="file" id="file2" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-sm-12 space-empty-small"></div><div class="col-sm-12 valign"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-sm-12 space-empty-small"></div><p class="col-sm-12 text-center dashboardTitleTextCards pb3 fw4">Entrepôt</p></label>
                </div>
                <div class="col-sm-12 space-empty"></div>

                <div class="col-sm-12 dashboardIconContainerSM">
                    <input type="file" style="display:none;" name="file" id="file3" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-sm-12 space-empty-small"></div><div class="col-sm-12 valign"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-sm-12 space-empty-small"></div><p class="col-sm-12 text-center dashboardTitleTextCards pb3 fw4">Caisses</p></label>
                </div>

                <div class="col-sm-12 space-empty"></div>

                <div class="col-sm-12 dashboardIconContainerSM">
                    <input type="file" style="display:none;" name="file" id="file4" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-sm-12 space-empty-small"></div><div class="col-sm-12 valign"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-sm-12 space-empty-small"></div><p class="col-sm-12 text-center dashboardTitleTextCards pb3 fw4">Étagères</p></label>
                </div>

                <div class="col-sm-12 space-empty"></div>



                <div class="col-sm-12 dashboardIconContainerSM">
                    <input type="file" style="display:none;" name="file" id="file5" class="inputfile" accept="image/*" />
                    <label for="file"><div class="col-sm-12 space-empty-small"></div><div class="col-sm-12 valign"><img src="assets/icons/photoNoir.svg" width="100px"></div><div class="col-sm-12 space-empty-small"></div><p class="col-sm-12 text-center dashboardTitleTextCards pb3 fw4">Salle de bain</p></label>
                </div>

                <div class="col-sm-12 space-empty"></div>


            </div>

            <div class="col-sm-12 space-empty"></div>
            <div class="col-sm-12">
                <div class="col-sm-12 text-center">
                    <br>
                    <a href="visite3.html"><button class="btn btnBottom btn-lg btnRouge btn-responsive" type="submit" name="btn-login">Prochaine étape</button></a><br>
                </div> <!-- End col-md-12 bouton-->
            </div>

            <div class="col-sm-12 space-empty"></div>


        </div>

        <!-- End responsive sm -->
    </div>
</body>
</html>