

<!DOCTYPE html>
<html>
@Html.Partial("../Shared/head")
</head>
<body>
    @Html.Partial("../Shared/menu")
    <div class="container-fluid">
        <div class="col-sm-9">
            <div class="col-sm-12 space-empty"></div>
            <div class="col-sm-11 col-sm-offset-1">
                <div class="col-sm-12 space-empty"></div>

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div class="col-sm-12"><img src="~/Content/img/field.jpg" width="600px"></div>
                        <div class="col-sm-3"><img src="~/Content/img/field.jpg" width="150px"></div>
                        <div class="col-sm-3"><img src="~/Content/img/field.jpg" width="150px"></div>
                        <div class="col-sm-3"><img src="~/Content/img/field.jpg" width="150px"></div>

                    </div>
                    <div class="col-sm-6 toppy">
                        <h2 class="fw3">ÉCONOMIE POSSIBLE : <span class="red fw6">1200$ / AN</span></h2>
                        <div class="col-sm-12 space-empty"></div>
                        <div class="col-sm-12 space-empty-small"></div>
                        <h1 class="fw7">BMR Val-d'Or</h1>
                        <h3 class="textGrisFoncee fw3 fs15">Numéro de magasin BMR</h3>
                        <h3 class="textGrisFoncee fw3 fs15">1230, Boul. Tremblay, Val-D’Or<br>Québec, Qc   G1C G1C</h3>
                        <hr>
                        <a href="#" alt="Appeler la succursale"><div class="col-sm-3"><div class="icons-rapport"><img class="micons" src="~/Content/img/phone-receiver-white.svg" height="21px"></div><h5 class="textGrisPale text-center">Téléphone</h5></div></a>
                        <a href="mailto:#" alt="Envoyer un courriel à la succursale"><div class="col-sm-3"><div class="icons-rapport"><img class="micons" src="~/Content/img/close-envelope.svg" height="21px"></div><h5 class="textGrisPale text-center">Courriel</h5></div></a>
                        <a href="visite.html" alt="Commencer une visite"><div class="col-sm-3"><div class="icons-rapport"><img class="micons" src="~/Content/img/add-location-white.svg" height="21px"></div><h5 class="textGrisPale text-center">Visite</h5></div></a>
                        <a href="#" alt="Numéro de shipping"><div class="col-sm-3"><div class="icons-rapport"><img class="micons" src="~/Content/img/truck-white.svg" height="21px"></div><h5 class="textGrisPale text-center">Shipping</h5></div></a>
                    </div>
                </div>


                <div class="col-sm-12 space-empty"></div>

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div>
                            <div class="col-sm-12"><h1>Derniers contacts enregistrés</h1></div>

                            <div class="col-sm-12 space-empty"></div>

                            <div class="col-sm-12"><div class="col-sm-2"><a href="#" alt="Consulter les notes de cette entrée"><img src="~/Content/img/file.svg" class="iconTop" height="21px"></a><img class="iconTop dashboardIconSpaceContainer" src="~/Content/img/businessman-running-with-his-suitcase.svg" height="21px"></div><div class="col-sm-8 visiteContainer"><p class="iconTop"><span class="fw6">[$nomRep]</span> reçu par <span class="fw6">[$nomBmr]</span> le <span class="fw6">[$date]</span></p></div></div>

                            <div class="col-sm-12 space-empty-small"></div>

                            <div class="col-sm-12"><div class="col-sm-2"><a href="#" alt="Consulter les notes de cette entrée"><img src="~/Content/img/file.svg" class="iconTop" height="21px"></a><img class="iconTop dashboardIconSpaceContainer" src="~/Content/img/phone-receiver.svg" height="21px"></div><div class="col-sm-8 visiteContainer"><p class="iconTop"><span class="fw6">[$nomRep]</span> à reçu un appel de <span class="fw6">[$nomBmr]</span> le <span class="fw6">[$date]</span></p></div></div>

                            <div class="col-sm-12 space-empty-small"></div>

                            <div class="col-sm-12"><div class="col-sm-2"><a href="#" alt="Consulter les notes de cette entrée"><img src="~/Content/img/file.svg" class="iconTop" height="21px"></a><img class="iconTop dashboardIconSpaceContainer" src="~/Content/img/phone-receiver.svg" height="21px"></div><div class="col-sm-8 visiteContainer"><p class="iconTop"><span class="fw6">[$nomRep]</span> à reçu un appel de <span class="fw6">[$nomBmr]</span> le <span class="fw6">[$date]</span></p></div></div>

                            <div class="col-sm-12 space-empty-small"></div>
                            <div class="col-sm-10"><a href="#"><p class="fw6 right">Tous les contacts</p></a></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <div class="col-sm-12"><h1>Documents importants</h1></div>

                            <div class="col-sm-12 space-empty"></div>

                            <div class="col-sm-12"><div class="col-sm-6"><span class="textGrisFoncee fs16"><strong>COMPTE DE TAXES</strong></span></div><img class="toppy-small" src="~/Content/img/file.svg" height="32px"></div>

                            <div class="col-sm-12 space-empty"></div>

                            <div class="col-sm-12"><div class="col-sm-6"><span class="textGrisFoncee fs16"><strong>HYDRO-QUÉBEC</strong></span></div><img class="toppy-small" src="~/Content/img/file.svg" height="32px"></div>

                            <div class="col-sm-12 space-empty"></div>

                            <div class="col-sm-12"><div class="col-sm-6"><span class="textGrisFoncee fs16"><strong>AUTRE</strong></span></div><img class="toppy-small" src="~/Content/img/file.svg" height="32px"></div>

                            <div class="col-sm-12 space-empty"></div>

                            <div class="col-sm-12"><div class="col-sm-6"><span class="textGrisFoncee fs16"><strong>LUXMÈTRE</strong></span></div><img class="toppy-small" src="~/Content/img/file.svg" height="32px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 space-empty"></div>
                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="col-sm-12 space-empty"></div>


                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div>
                            <div class="col-sm-12"><h1 class="super-h1">Diagnostic</h1></div>

                            <div class="col-sm-12 space-empty"></div>

                            <div class="col-sm-12">
                                <div class="col-sm-12"><h3 class="col-sm-4 textGrisFoncee fw3 fs15">Relampé ?</h3><button class="btn buttonTop btn-md btnRouge btn-responsive">Oui</button><button class="btn buttonTop ml1 btn-md btnOutlineRouge btn-responsive">Non</button></div>
                            </div>
                            <div class="col-sm-12 space-empty"></div>
                            <div class="col-sm-12">
                                <div class="col-sm-12"><h3 class="col-sm-4 textGrisFoncee fw3 fs15">Économie possible</h3><button class="btn buttonTop btn-md btnOutlineRouge btn-responsive">1200$ / an</button></div>
                            </div>

                            <div class="col-sm-12 space-empty-small"></div>


                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <div class="col-sm-12"><h1 class="super-h1">Envoyer le diagnostic au client</h1></div>

                            <div class="col-sm-12 space-empty"></div>

                            <div class="col-sm-12">
                                <span class="col-sm-4 textGrisFoncee fw3 fs15">RELAMPAGE <span>DATE</span></span>
                                <a href="#" alt="Consulter le rapport"><div class="col-sm-2"><div class="icons-rapport-small"><img class="micons-small" src="~/Content/img/eye.svg" height="16px"></div></div></a>
                                <a href="#" alt="Envoyer le rapport au magasin"><div class="col-sm-2"><div class="icons-rapport-small"><img class="micons-small" src="~/Content/img/close-envelope.svg" height="16px"></div></div></a>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12 space-empty-small"></div>
                </div>

            </div>
            <div class="col-sm-12 space-empty"></div>
        </div>
    </div>
</body>
</html>