

<!DOCTYPE html>
<html>
@Html.Partial("../Shared/head")
</head>
<body>
    @Html.Partial("../Shared/menu")
    <div class="container-fluid">
        <div class="col-sm-9">
            <div class="col-sm-12 space-empty"></div>
            <div class="col-sm-11 col-sm-offset-1"><h1 class="fw6">Visite de magasin</h1></div>
            <div class="col-sm-11 col-sm-offset-1"><p>Remplissez les champs ci-dessous pour générer un rapport de votre visite de magasin</p></div>

            <!-- Timeline -->

            <div class="col-sm-11 col-sm-offset-1">
                <ul class="timeline" id="timeline">
                    <li class="li complete col-sm-2">

                        <div class="status">

                        </div>
                    </li>
                    <li class="li complete">

                        <div class="status col-sm-2">

                        </div>
                    </li>
                    <li class="li complete">

                        <div class="status col-sm-2">

                        </div>
                    </li>
                    <li class="li complete">

                        <div class="status col-sm-2">

                        </div>
                    </li>
                    <li class="li complete">

                        <div class="status col-sm-2">

                        </div>
                    </li>
                </ul>
            </div>
            <!-- End Timeline -->

            <div class="col-sm-11 col-sm-offset-1"><h1>Étape 7 - Résumé de la visite</h1></div>
            <div class="col-sm-11 col-sm-offset-1"><p class="textGrisPale fw6">Voici la fiche résumé de votre visite du magasin.</p></div>


            <div class="col-sm-12 space-empty"></div>


            <div class="col-sm-11 col-sm-offset-1">

                <div class="col-sm-12">

                    <div class="col-md-4 recapVisiteBG">
                        <div class="col-sm-12">
                            <div class="col-sm-12 space-empty-small"></div><p class="textGrisFoncee fw6">Étape 1 - Informations de visite <span class="fw3 right">Modifier</span></p>
                            <div class="col-sm-12 space-empty-small"></div>
                            <p class="fw3 textGrisPale">Date de la visite : <span class="textGrisPale fw6">25-03-2017</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale">Nom de la personne rencontrée : <span class="textGrisPale fw6">Pierre</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale">Est-ce la personne que vous vouliez rencontrer : <span class="textGrisPale fw6">OUI</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale">Magasin récemment relampé: <span class="textGrisPale fw6">NON</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale">Notes : <span class="textGrisPale fw6">Lorem .....</span></p>
                            <div class="col-sm-12 space-empty-small"></div>
                        </div>
                    </div>


                    <div class="col-md-4 recapVisiteBG">
                        <div class="col-sm-12">
                            <div class="col-sm-12 space-empty-small"></div><p class="textGrisFoncee fw6">Étape 3 - Luminaires actuels <span class="fw3 right">Modifier</span></p>
                            <div class="col-sm-12 space-empty-small"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">1. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 10</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">2. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 15</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">3. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 5</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">4. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 2</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">5. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 30</span></p>
                            <div class="col-sm-12 space-empty-small"></div>
                        </div>
                    </div>


                    <div class="col-md-4 recapVisiteBG">
                        <div class="col-sm-12">
                            <div class="col-sm-12 space-empty-small"></div><p class="textGrisFoncee fw6">Étape 5 - Situation idéale <span class="fw3 right">Modifier</span></p>
                            <div class="col-sm-12 space-empty-small"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">1. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 10</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">2. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 15</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">3. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 5</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">4. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 2</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">5. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 30</span></p>
                            <div class="col-sm-12 space-empty-small"></div>
                        </div>
                    </div>

                </div>


                <div class="col-sm-12 space-empty"></div>


                <div class="col-sm-12">

                    <div class="col-md-4 recapVisiteBG">
                        <div class="col-sm-12">
                            <div class="col-sm-12 space-empty-small"></div><p class="textGrisFoncee fw6">Étape 2 - Photos <span class="fw3 right">Modifier</span></p>
                            <div class="col-sm-12 space-empty-small"></div>
                            <div class="col-sm-12">
                                <img class="col-sm-4" src="~/Content/img/field.jpg" width="100px"><img class="col-sm-4" src="~/Content/img/field.jpg" width="100px"><img class="col-sm-4" src="assets/img/field.jpg" width="100px">
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-4 text-center"><span class="fw3">Stationnement</span></div>
                                <div class="col-sm-4 text-center"><span class="fw3">Entrepôt</span></div>
                                <div class="col-sm-4 text-center"><span class="fw3">Caisses</span></div>

                            </div>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <div class="col-sm-12">
                                <img class="col-sm-4" src="~/Content/img/field.jpg" width="100px"><img class="col-sm-4" src="~/Content/img/field.jpg" width="100px">
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-4 text-center"><span class="fw3">Étagères</span></div>
                                <div class="col-sm-4 text-center"><span class="fw3">Salle de bain</span></div>

                            </div>
                            <div class="col-sm-12 space-empty"></div>
                        </div>
                    </div>


                    <div class="col-md-4 recapVisiteBG">
                        <div class="col-sm-12">
                            <div class="col-sm-12 space-empty-small"></div><p class="textGrisFoncee fw6">Étape 4 - Données luxmètre <span class="fw3 right">Modifier</span></p>
                            <div class="col-sm-12 space-empty-small"></div>
                            <p class="fw3 textGrisPale">Caisse <span class="textGrisPale fw6">Lux : 1455</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale">Bureau <span class="textGrisPale fw6">Lux : 1224</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale">Allée <span class="textGrisPale fw6">Lux : 1234</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale">Salle de bain <span class="textGrisPale fw6">Lux : 4567</span></p>
                            <div class="col-sm-12 space-empty"></div>
                        </div>
                    </div>


                    <div class="col-md-4 recapVisiteBG">
                        <div class="col-sm-12">
                            <div class="col-sm-12 space-empty-small"></div><p class="textGrisFoncee fw6">Étape 6 - Commande <span class="fw3 right">Modifier</span></p>
                            <div class="col-sm-12 space-empty-small"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">1. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 10</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">2. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 15</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">3. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 5</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">4. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 2</span></p>
                            <div class="col-sm-12 space-empty-small2"></div>
                            <p class="fw3 textGrisPale"><span class="textGrisPale fw6">5. </span>Tube DEL T8 15W 5KF <span class="textGrisPale fw6">Qté : 30</span></p>
                            <div class="col-sm-12 space-empty-small"></div>
                        </div>
                    </div>

                </div>


            </div>

            <div class="col-sm-12 space-empty"></div>
            <div class="col-sm-11 col-sm-offset-1">
                <div class="col-sm-9">
                    <br>
                    <a href="@Url.Action("Rapport", "Visite")"><button class="btn btnBottom btn-lg btnRouge btn-responsive" type="submit" name="btn-login">Prochaine étape</button></a><br>

                    </div> <!-- End col-md-12 bouton-->
            </div>
            <div class="col-sm-12 space-empty"></div>
        </div>
    </div>
</body>
</html>