

<!DOCTYPE html>
<html>
@Html.Partial("../Shared/head")
</head>
<body>
   @Html.Partial("../Shared/menu")
    <div class="container-fluid">
        <div class="col-sm-9">
            <div class="col-sm-12 space-empty"></div>
            <div class="col-sm-11 col-sm-offset-1">
                <div class="col-sm-12 space-empty"></div>

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div class="col-sm-12"><img src="~/Content/img/corn2.jpg" width="600px"></div>

                    </div>
                    <div class="col-sm-6 toppy">
                        <button class="btn buttonTop btn-md btnRouge btn-responsive dashboardIconSpaceContainer">Nouveau</button>
                        <button class="btn buttonTop btn-md btnVert btn-responsive dashboardIconSpaceContainer">Listé BMR</button>
                        <div class="col-sm-12 space-empty"></div>
                        <div class="col-sm-12 space-empty-small"></div>
                        <h1 class="fw7">Ampoule DEL A21 <img src="~/Content/icons/modifierRouge.svg" width="32px"></h1>
                        <h3 class="textGrisFoncee fw3 fs15">PJV-A21</h3>
                        <h3 class="textGrisFoncee fw3 fs15">Description de produit</h3>
                        <hr>
                        <a href="#" alt="Fiche technique"><div class="col-sm-4"><div class="text-center pt13 icons-rapport"><img src="assets/icons/pdfBlanc.svg" height="21px"><span class="textWhite pt13">Fiche technique</span></div></div></a>
                    </div>
                </div>


                <div class="col-sm-12 space-empty"></div>

                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div>
                            <div class="col-sm-12"><h1>Caractéristiques</h1></div>

                            <div class="col-sm-12 space-empty"></div>

                            <div class="col-sm-12">

                                <ul>
                                    <li class="fs24 red"><span class="fw4 fs24 textGrisFoncee">Caractéristique 1</span></li>
                                    <li class="fs24 red"><span class="fw4 fs24 textGrisFoncee">Caractéristique 2</span></li>
                                    <li class="fs24 red"><span class="fw4 fs24 textGrisFoncee">Caractéristique 3</span></li>
                                    <li class="fs24 red"><span class="fw4 fs24 textGrisFoncee">Caractéristique 4</span></li>
                                    <li class="fs24 red"><span class="fw4 fs24 textGrisFoncee">Caractéristique 5</span></li>

                                </ul>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <div class="col-sm-12"><h1>Certifications</h1></div>

                            <div class="col-sm-12 space-empty"></div>

                            <div class="col-sm-12">
                                <div class="col-sm-4 dashboardIconAppel">
                                    <div class="col-sm-12 mt2 valign"><img src="~/Content/icons/pdfNoir.svg" width="50px"></div><div class="col-sm-12 space-empty-small2"></div><p class="col-sm-12 text-center dashboardTitleTextCards fw4">UL</p>
                                </div>

                                <div class="col-sm-4 dashboardIconAppel ml1">
                                    <div class="col-sm-12 mt2 valign"><img src="~/Content/icons/pdfNoir.svg" width="50px"></div><div class="col-sm-12 space-empty-small2"></div><p class="col-sm-12 text-center dashboardTitleTextCards fw4">cUL</p>
                                </div>
                                <div class="col-sm-4 dashboardIconAppel ml1">
                                    <div class="col-sm-12 mt2 valign"><img src="~/Content/icons/pdfNoir.svg" width="50px"></div><div class="col-sm-12 space-empty-small2"></div><p class="col-sm-12 text-center dashboardTitleTextCards fw4">DLC</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 space-empty"></div>
                <div class="col-sm-12">
                    <hr>
                </div>
                <div class="col-sm-12 space-empty"></div>


                <div class="col-sm-12">

                    <div>
                        <div class="col-sm-12"><h1 class="super-h1">Informations additionnelles</h1></div>

                        <div class="col-sm-12 space-empty"></div>

                        <div class="col-sm-12">
                            <table class="table">
                                <thead>
                                    <tr class="tback">
                                        <th>CODE PJV</th>
                                        <th>CODE BARRE</th>
                                        <th>PRIX D'ACHAT</th>
                                        <th>PRIX DE VENTE</th>
                                        <th>CODE PJV</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>PJV-A21-15W-5KF</td>
                                        <td>1234567890</td>
                                        <td>12,99$ CAD</td>
                                        <td>19,99$ CAD</td>
                                        <td>BMR 123-4567</td>
                                    </tr>
                                    <tr>
                                        <td>PJV-A21-15W-5KF</td>
                                        <td>1234567890</td>
                                        <td>12,99$ CAD</td>
                                        <td>19,99$ CAD</td>
                                        <td>BMR 123-4567</td>
                                    </tr>
                                    <tr>
                                        <td>PJV-A21-15W-5KF</td>
                                        <td>1234567890</td>
                                        <td>12,99$ CAD</td>
                                        <td>19,99$ CAD</td>
                                        <td>BMR 123-4567</td>
                                    </tr>
                                    <tr>
                                        <td>PJV-A21-15W-5KF</td>
                                        <td>1234567890</td>
                                        <td>12,99$ CAD</td>
                                        <td>19,99$ CAD</td>
                                        <td>BMR 123-4567</td>
                                    </tr>
                                    <tr>
                                        <td>PJV-A21-15W-5KF</td>
                                        <td>1234567890</td>
                                        <td>12,99$ CAD</td>
                                        <td>19,99$ CAD</td>
                                        <td>BMR 123-4567</td>
                                    </tr>

                                </tbody>
                            </table>
                            <p class="fw6 textGrisFoncee">DISPONIBLE CHEZ BMR</p>
                            <div class="col-sm-12 space-empty"></div>


                        </div>
                    </div>


                </div>
                <div class="col-sm-12">
                    <div>
                        <div class="col-sm-12"><h1 class="super-h1">Dimension de l'item</h1></div>

                        <div class="col-sm-12 space-empty"></div>

                        <div class="col-sm-12">
                            <table class="table">
                                <thead>
                                    <tr class="tback">
                                        <th>HAUTEUR</th>
                                        <th>LARGEUR</th>
                                        <th>LONGUEUR</th>
                                        <th>POIDS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12 pouces</td>
                                        <td>12 pouces</td>
                                        <td>12 pouces</td>
                                        <td>20 livres</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="fw6 textGrisFoncee">PACKAGING CUSTOM DISPONIBLE</p>
                            <div class="col-sm-12 space-empty"></div>


                        </div>
                    </div>

                </div>


                <div class="col-sm-12">
                    <div>
                        <div class="col-sm-12"><h1 class="super-h1">Dimension du masterpack</h1></div>

                        <div class="col-sm-12 space-empty"></div>

                        <div class="col-sm-12">
                            <table class="table">
                                <thead>
                                    <tr class="tback">
                                        <th>HAUTEUR</th>
                                        <th>LARGEUR</th>
                                        <th>LONGUEUR</th>
                                        <th>POIDS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12 pouces</td>
                                        <td>12 pouces</td>
                                        <td>12 pouces</td>
                                        <td>20 livres</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-sm-12 pl0ml0"><div class="col-sm-6 pl0ml0"><p class="fw6 textGrisFoncee">PACKAGING CUSTOM DISPONIBLE</p></div><div class="col-sm-6"> <p class="fw6 textGrisFoncee">CODDE BARRE : <span class="fw4">1234567890</span></p></div></div>
                            <div class="col-sm-12 space-empty"></div>


                        </div>
                    </div>

                </div>



                <div class="col-sm-12">
                    <div>
                        <div class="col-sm-12"><h1 class="super-h1">Dimension de la palette</h1></div>

                        <div class="col-sm-12 space-empty"></div>

                        <div class="col-sm-12">
                            <table class="table">
                                <thead>
                                    <tr class="tback">
                                        <th>HAUTEUR</th>
                                        <th>LARGEUR</th>
                                        <th>LONGUEUR</th>
                                        <th>POIDS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12 pouces</td>
                                        <td>12 pouces</td>
                                        <td>12 pouces</td>
                                        <td>20 livres</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="col-sm-12 space-empty"></div>


                        </div>
                    </div>

                </div>
                <div class="col-sm-12 space-empty"></div>
            </div>
        </div>
    </div>
</body>
</html>